<div class="">
    <% info.forEach(data => { %>
        <!-- Name -->
        <p> Product Name 
            <%= data.name %>
        </p>
        <!-- price -->
        <p> Product Price 
            <%= data.price %>
        </p>
        <!-- quantity -->
        <p> Product Quantity 
            <%= data.quantity %>
        </p>
    <% }); %>
</div>